---
http_interactions:
- request:
    method: get
    uri: https://api.boardgameatlas.com/api/search?client_id=<DONT_EXPOSE_MY_DATA_PLEASE>&limit=20&name=Candyland%20Willy%20Wonka%20And%20The%20Chocolate%20Factory
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '420'
      X-Ratelimit-Remaining:
      - '395'
      X-Ratelimit-Reset:
      - '1610293411'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"65d-SE43tZA7JeioSAki9EQg44VEwCc"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "games": [
            {
              "id": "q0A6GN2p3g",
              "name": "Candyland Willy Wonka And The Chocolate Factory",
              "year_published": null,
              "min_players": null,
              "max_players": null,
              "min_playtime": null,
              "max_playtime": null,
              "min_age": null,
              "description": "",
              "description_preview": "",
              "image_url": "https://s3-us-west-1.amazonaws.com/5cc.images/games/uploaded/1609456287657",
              "thumb_url": "https://s3-us-west-1.amazonaws.com/5cc.images/games/uploaded/1609456287657",
              "images": {
                "thumb": "https://d2k4q26owzy373.cloudfront.net/40x40/games/uploaded/1609456287657",
                "small": "https://d2k4q26owzy373.cloudfront.net/150x150/games/uploaded/1609456287657",
                "medium": "https://d2k4q26owzy373.cloudfront.net/350x350/games/uploaded/1609456287657",
                "large": "https://d2k4q26owzy373.cloudfront.net/700x700/games/uploaded/1609456287657",
                "original": "https://s3-us-west-1.amazonaws.com/5cc.images/games/uploaded/1609456287657"
              },
              "url": "https://www.boardgameatlas.com/game/q0A6GN2p3g/candyland-willy-wonka-and-the-chocolate-factory",
              "price": "0.00",
              "discount": "0.00",
              "primary_publisher": {},
              "publishers": [],
              "mechanics": [],
              "categories": [],
              "designers": [],
              "developers": [],
              "artists": [],
              "names": [],
              "num_user_ratings": 0,
              "average_user_rating": 0,
              "official_url": null,
              "rules_url": null,
              "matches_specs": null,
              "spec": [],
              "rank": 9999999,
              "trending_rank": 0,
              "primary_designer": {}
            }
          ]
        }
  recorded_at: Sun, 10 Jan 2021 15:43:04 GMT
recorded_with: VCR 6.0.0
